@import '~bootstrap/scss/bootstrap';

html {

}

body {

}

header {

}

main {

}

section {

}

article {

}

footer {

}

// .flight-deck-accordion {
//   height: 50vh;
// }

.flight-deck-m-t-l-c {
  height: 85vh;
  overflow-y: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.flight-deck-m-t-l-c::-webkit-scrollbar {
  width: 0 !important
}

.hide {
  display: none;
}

.media > i {
  color: green;
}

.search-main-trailer-list {
  height: 85vh;
  overflow-y: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.search-main-trailer-list::-webkit-scrollbar {
  width: 0 !important
}

.sign-switch {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.switchSignInUp {
  color: #007bff;
}

.user-trailer-list {
  height: 52vh;
  overflow-y: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.user-trailer-list::-webkit-scrollbar {
  width: 0 !important
}

// .switchSignInUp:hover {
//   cursor: pointer;
// }

.trailer-list-card > img {
  height: 15rem;
  object-fit: cover;
  overflow: hidden;
}

.trailer-list-media > img {
  height: 2rem;
  width: 2rem;
  object-fit: cover;
  overflow: hidden;
}
