@import '~bootstrap/scss/bootstrap';

html {

}

body {

}

header {

}

main {

}

section {

}

article {

}

footer {

}

.accordion-label {
  font-family: 'Alfa Slab One', cursive;
}

// .flight-deck-accordion {
//   height: 50vh;
// }

.flight-deck-m-t-l-c {
  height: 95vh;
  overflow-y: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.flight-deck-m-t-l-c::-webkit-scrollbar {
  width: 0 !important
}

.jumbolia {
  width: 100%;
  height: auto;
  background-image: url('public/landing-page-jumbo-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 100%;
  background-attachment: fixed;
  height: 80vh !important;
}

// .jumboTop {
//   height: 80vh !important;
// }

.hide {
  display: none;
}

.media > i {
  color: green;
}

.sign-in-nav {
  border-bottom: 1px solid black;
}

.price-day {
  font-family: 'Alfa Slab One', cursive;
}

// .search-main-trailer-list {
//   height: 85vh;
//   overflow-y: auto;
//   overflow: -moz-scrollbars-none;
//   -ms-overflow-style: none;
// }

.save-book-host {
  font-family: 'Alfa Slab One', cursive;
}

.search-main-trailer-list::-webkit-scrollbar {
  width: 0 !important
}

.sign-switch {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.switchSignInUp {
  color: #007bff;
}

.user-trailer-list {
  height: 52vh;
  overflow-y: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.user-trailer-list::-webkit-scrollbar {
  width: 0 !important
}

// .switchSignInUp:hover {
//   cursor: pointer;
// }

.toms-class {
  border-radius: 50%;
}

.trailer-list-card > img {
  height: 15rem;
  object-fit: cover;
  overflow: hidden;
}

.trailer-list-media > img {
  height: 2rem;
  width: 2rem;
  object-fit: cover;
  overflow: hidden;
}
