@import '~bootstrap/scss/bootstrap';

html {

}

body {

}

header {

}

main {

}

section {

}

article {

}

footer {

}

.hide {
  display: none;
}

.media > i {
  color: green;
}

.sign-switch {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.switchSignInUp {
  color: #007bff;
}

.switchSignInUp:hover {
  cursor: pointer;
}
.trailer-list-card > img {
  height: 15rem;
  object-fit: cover;
  overflow: hidden;
}
